cloud_id                  = "abc123def"
folder_id                 = "abc123def"
image_id                  = "abc123def"
subnet_id                 = "abc123def"
public_key_path           = "~/.ssh/ubuntu.pub"
service_account_key_file  = "terraform.json"
private_key_path          = "~/.ssh/ubuntu"
instances                 = 1
enable_provision          = true
